* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

#main-container {
    display: grid;    
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    height: 100vh;
    }

/* Give every child element its grid name */
.header {
    grid-area: header;
    background-color: #349886;
    color: #FFFFFF;
}

.sidenav {
    grid-area: sidenav;
    background-color: #1A313E;
    color: #FFFFFF;
}

.main {
    grid-area: main;
    background-color: #F8F8F8;
}

.footer {
    grid-area: footer;
    background-color: #349886;
    color: #FFFFFF;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;    
    
}

/* Sidebar styles */

.sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;    
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    
}

.sidenav__list-item a {
    color: #ddd;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* Main header */

main {
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
}

/* Overview cards */

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin-top: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
}

