* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#main-container {
    display: grid;    
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    height: 100vh;
    }

/* Give every child element its grid name */
.header {
    grid-area: header;
    background-color: #4480C5;
}

.sidenav {
    grid-area: sidenav;
    background-color: rgba(46, 86, 139, 0.9);
}

.main {
    grid-area: main;
    background-color: #EBEFF3;
}

.footer {
    grid-area: footer;
    background-color: #4480C5;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;    
}